<div class="container-fluid">
  <h4 class="card-heading">Create New Subscription</h4>
  <div class="card">
    <div class="card-body">
      <form class="form-material m-t-20 row">
        <div class="form-group col-md-12 m-t-20">
          <label class="label-width-20" for="title">Tittle: </label>
          <input type="text" class="form-control form-control-line" value="" id="title">
        </div>
        <div class="form-group col-md-6 m-t-20">
          <label class="label-width-50" for="title">Subscription type: </label>
          <select class="form-control">
            <option>Auto</option>
            <option>Manual</option>
            <option>Manual</option>
            <option>Manual</option>
            <option>Manual</option>
          </select>
        </div>
        <div class="form-group col-md-6 m-t-20">
          <label class="label-width-50" for="title">Select days: </label>
          <select class="form-control">
            <option>10</option>
            <option>20</option>
            <option>30</option>
            <option>40</option>
            <option>50</option>
          </select>
        </div>
        <div class="form-group col-md-6 m-t-20">
          <label class="label-width-50" for="title">Price: </label>
          <input type="text" class="form-control form-control-line"> </div>
        <div class="form-group col-md-6 m-t-20">
          <label class="label-width-50">Renew Method: </label>
          <select class="form-control">
            <option>Auto</option>
            <option>Manual</option>
            <option>Manual</option>
            <option>Manual</option>
            <option>Manual</option>
          </select>
        </div>
      </form>
      <div class="form-buttons m-t-10">
        <div>
          <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-secondary">Cancel</button>
          <button type="button" class="btn waves-effect waves-light btn-rounded save-btn">Save</button>
        </div>
        <div>
            <button type="button" class="btn waves-effect waves-light btn-rounded activate-btn">Activate</button>
        </div>
      </div>
    </div>
  </div>
</div>