<p class="grid-heading"><b>Customers</b></p>
<div class="grid-wrapper">
  <ul class="headline-container">
    <li>
      <div class="headline">
        <p>Total users</p>
        <div class="user-stat" style="display:flex">
        <p><b>240K</b></p>
        </div>
      </div>
    </li>
  </ul>
  <ul class="headline-container">
      <li>
        <div class="headline">
          <p>Total users</p>
          <div class="user-stat" style="display:flex">
          <p><b>240K</b></p>
          </div>
        </div>
      </li>
    </ul>
    <ul class="headline-container">
        <li>
          <div class="headline">
            <p>Total users</p>
            <div class="user-stat" style="display:flex">
            <p><b>240K</b></p>
            </div>
          </div>
        </li>
      </ul>
</div>