.page-title {
    padding-left: 14px;
    padding-bottom: 20px;
}
.page-title > div {
    padding-left: 0;
}
.container-fluid {
    padding: 30px;
    position: relative;
    top: 70px;
}
.card-body .card-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}