<div class="card">
  <div class="card-body">
    <div class="d-flex table-heading m-b-30">
      <div class="table-add-category d-flex">
          <h4 class="card-title m-r-20">Weaves</h4>
        <button type="button" class="btn waves-effect waves-light btn-rounded btn-info"><span class="mdi  mdi-plus"></span>Add Sub Category</button>
      </div>
        <div>
          <p class="download-csv"><span class="mdi mdi-file-excel"></span>Download CSV</p>
        </div>
    </div>
    <div class="table-responsive">
      <table class="table color-table primary-table">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td>Nigam</td>
            <td>Eichmann</td>
            <td><span class="mdi mdi-pencil"> Edit</span></td>
          </tr>
          <tr>
            <td>Deshmukh</td>
            <td>Prohaska</td>
            <td><span class="mdi mdi-pencil"> Edit</span></td>
          </tr>
          <tr>
            <td>Roshan</td>
            <td>Rogahn</td>
            <td><span class="mdi mdi-pencil"> Edit</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>