<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a routerLink="/dashboard" routerLinkActive="active" class="waves-effect waves-dark" href="#">
                        <i class="mdi mdi-gauge"></i>
                        <span class="hide-menu">Dashboard </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/customer" routerLinkActive="active" class="waves-effect waves-dark" href="#">
                        <i class="mdi mdi-gauge"></i>
                        <span class="hide-menu">Customer </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/invoices" class="waves-effect waves-dark" href="#">
                        <i class="mdi mdi-gauge"></i>
                        <span class="hide-menu">Invoices </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/newSubscription" class="waves-effect waves-dark" href="#">
                        <i class="mdi mdi-gauge"></i>
                        <span class="hide-menu">Manage Subscriptions </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/services/weaves" class="waves-effect waves-dark" href="#">
                        <i class="mdi mdi-gauge"></i>
                        <span class="hide-menu">Services </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>