<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
          <ul>
            <li><a href="#"><i class="mdi mdi-gauge"></i><span class="">Dashboard </span></a></li>
            <li><a href="#"><i class="mdi mdi-gauge"></i><span class="">Dashboard </span></a></li>
            <li><a href="#"><i class="mdi mdi-gauge"></i><span class="">Dashboard </span></a></li>
            <li><a href="#"><i class="mdi mdi-gauge"></i><span class="">Dashboard </span></a></li>
            <li><a href="#"><i class="mdi mdi-gauge"></i><span class="">Dashboard </span></a></li>
            <li><a href="#"><i class="mdi mdi-gauge"></i><span class="">Dashboard </span></a></li>
            </ul>
         </nav>
    </div>
</aside>